.program-list-wrapper
    .item
        padding: 10px
        display: flex
        align-items: center
        border-bottom: 1px solid #eee
        .content
            flex: 1
            margin-left: 10px
            overflow hidden
            .name
                color: #333333
                overflow hidden
                white-space nowrap
                text-overflow: ellipsis
            .info
                color: rgb(146, 150, 149)
                font-size: 12px
                margin-top: 5px
                .iconfont
                    font-size: 12px
                    margin-left: 20px
        .serial-num
            font-size: 14px
            color: rgb(146, 150, 149)
        .more
            color: rgb(146, 150, 149)
            margin-left: 10px