.item
    position relative
    .pic
        width: 100%
    .theme
        position: absolute
        right: 0
        bottom: 5px
        font-size: 12px
        padding: 5px 5px 5px 10px
        color: #ffffff
        border-radius: 11px 0 0 11px
.recommend-list
    display: flex
    border-bottom: 1px solid #ccc
    padding: 15px 0
    margin-bottom: 10px
    .item
        flex: 1
        font-size: 12px
        color: #333333
        text-align: center
        .border
            border: 1px solid #c62f2f
            border-radius: 50%
            display: inline-block
            width: 50px
            height: 50px
            line-height: 50px
            margin-bottom: 7px
            .iconfont
                font-size: 26px
                color: #c62f2f