.search-box
    display: flex
    align-items: center
    height 50px
    background-color: #c62f2f
    padding: 0 15px
    .back
        font-size: 18px
        color: #ffffff
        margin-right: 5px
    .search-input
        font-size: 16px
        color: rgb(196, 137, 136)
        border: none 
        border-bottom: 2px solid rgb(219, 88, 79)
        outline: none 
        background-color: #c62f2f
        padding: 7px
        flex: 1
        &::-webkit-input-placeholder
            color: rgb(196, 137, 136)
.history-scroll-wrapper
    position: fixed
    top: 50px
    left 0
    right 0
    bottom: 0
.search-result-wrapper
    position: relative
    width: 100vw
    height calc(100vh - 80px)
    background-color: rgb(240, 244, 243)