.artist-list
    .item
        padding: 5px
        border-bottom: 1px solid #dddddd
        display: flex
        align-items: center
        .icon
            width: 20%
            margin-right: 10px
        .info
            font-size: 16px
            color: #333333
            line-height: 1.2
            .trans
                color: #707070