.mini-play-wrapper
    position: fixed
    left 0
    right 0
    bottom: 0
    height: 50px
    display: flex
    align-items: center
    z-index: 99
    background-color #ffffff
    padding: 0 15px 0 5px
    box-sizing: border-box
    box-shadow: 0 0 2px #e6e6e6
    .content
        flex: 1
        margin-left: 5px
        overflow hidden
        .tip
            font-size: 12px
            color: #707070
            margin-top: 5px
        .name
            overflow hidden
            white-space nowrap
            text-overflow: ellipsis
            line-height: 1.2
    .icon
        width: 40px
        height: 40px
    .list
        color: rgb(74, 74, 74)
        margin-left: 15px
        font-size: 18px
    .play-icon
        position relative
        margin-left: 15px
        .iconfont
            position absolute
            top: 50%
            left 50%
            transform: translate(-50%, -50%)
            margin-left: 2px
            &.play
                color: #707070
            &.pause
                color: #c62f2f
                margin-left: 0