.song-list
    .item
        display: flex
        align-items: center
        padding: 10px
        border-bottom: 1px solid #dddddd
        .rank
            font-size: 16px
            color: rgb(141, 144, 143)
            padding: 0 20px 0 10px
        .song
            flex: 1
            overflow hidden
            .name
                font-size: 16px
                color: #333333
                line-height: 1.4
                overflow: hidden
                white-space: nowrap
                text-overflow: ellipsis
            .info
                font-size: 12px
                overflow hidden
                white-space nowrap
                text-overflow: ellipsis
                .quality
                    display: inline-block
                    color: red
                    border: 1px solid red
                    padding: 3px
                    transform: scale(0.65, 0.52)
                    border-radius: 4px
                    position: relative
                    top: 1px
                .singer
                    color: #507daf
                .small-name
                    color: #707070
        .iconfont
            color: #aaa
            margin-left: 15px
        .play
            font-size: 18px
            