.song-list
    .item
        display: flex
        align-items: center
        padding: 10px 10px 10px 5px
        border-bottom: 1px solid #dddddd
        .song
            flex: 1
            .name
                font-size: 14px
                color: #333333
            .info
                font-size: 12px
                .quality
                    display: inline-block
                    color: red
                    border: 1px solid red
                    padding: 3px
                    transform: scale(0.65, 0.52)
                    border-radius: 4px
                    position: relative
                    top: 1px
                .small-name
                    color: #707070
        .iconfont
            color: #aaa
        .play
            font-size: 18px
        .more
            margin-left: 15px