.popup-wrapper
    position: fixed
    top: 0
    left: 0
    right 0
    bottom: 0
    z-index: 998
    align-items: center
    display: none
    &.active
        display: flex
    .popup
        position: relative
        width: 75%
        max-width: 300px
        margin: 0 auto
        z-index: 1
        background-color: #ffffff
        display: none
        border-radius: 10px
        &.active
            animation scale 0.4s
            display: block
        .content
            text-align: center
            padding: 15px
            line-height: 30px
            .title
                color: #333333
            .message
                color: #848484
                font-size: 14px
        .footer
            display: flex
            border-top: 1px solid #e2e2e2
            .btn
                flex: 1
                font-size: 14px
                color: #525252
                text-align: center
                padding: 10px 0
                box-sizing: border-box
            .btn + .btn
                border-left: 1px solid #e2e2e2
    .cover
        position: absolute
        background-color: rgba(120, 120, 120, 0.6)
        top: 0
        left: 0
        right: 0
        bottom: 0
        display: none
        opacity: 0
        &.active
            display: block
            opacity: 1
            transition: all 0.4s

@keyframes scale
    0%
        transform: scale(0)
    60%
        transform: scale(1.1)
    100%
        transform: scale(1)