.slidebar-wrapper
    .content
        background-color: rgb(240, 244, 243)
        position: fixed
        top: 0
        left: 0
        bottom: 38px
        width: 80%
        max-width: 300px
        z-index: 105
        .header
            padding: 40px 0 30px
            text-align: center
            background-color: rgb(31, 32, 33)
            .text
                font-size: 13px
                color: #a2a4a7
                line-height: normal 
            .login-btn
                font-size: 15px
                color: #ffffff
                padding: 6px 35px
                border: 1px solid #a2a4a7
                border-radius: 29px
                display: inline-block
                margin-top: 20px
        .menu
            background-color: #ffffff
            margin-bottom: 10px
            .item
                padding: 10px
                display: flex
                align-items: center
                .iconfont
                    font-size: 18px
                    color: #aaa
                .text
                    font-size: 14px
                    color: #333333
                    margin-left: 8px
        .footer
            display: flex
            justify-content: space-between
            background-color: #ffffff
            position: fixed
            left: 0
            bottom: -38px
            right: 0
            .item
                padding: 10px
                display: flex
                align-items: center
                .iconfont
                    font-size: 18px
                    color: #aaa
                .text
                    font-size: 14px
                    color: #333333
                    margin-left: 8px
    .cover
        background-color: rgba(120, 120, 120, 0.6)
        position: fixed
        top: 0
        left: 0
        right: 0
        bottom: 0
        z-index: 104