.tab-wrapper
    display: flex
    height: 30px
    align-items: center
    position: relative
    overflow: scroll
    &::-webkit-scrollbar
        width: 0
        height: 0
    .tab
        font-size: 14px
        color: #2c3e50
        text-align: center
        min-width: 75px
        &.active
            color: #c62f2f
    .underline
        position: absolute
        bottom: 0
        left: 0
        transition: all 0.2s
        min-width: 75px
        &:before
            content: ''
            display: block
            width: 60%
            border: 1px solid #c62f2f
            margin: 0 auto