.common-header
    display: flex
    justify-content: space-between
    align-items: center
    height: 50px
    background-color: #c62f2f
    padding: 0 15px
    .iconfont
        color: #ccafaf
    .menu, .wangyi
        font-size: 18px
    .media, .user, .search
        font-size: 20px
    .media, .wangyi, .user
        margin: 0 15px
        &.active
            color: #eeeeee