.alert-wrapper
    position: fixed
    top: 65%
    left: 50%
    z-index: 999
    transform: translateX(-50%)
    overflow hidden
    white-space nowrap
    text-overflow: ellipsis
    text-align: center
    font-size: 14px
    color: #ffffff
    background-color: #cccccc
    padding: 8px 15px
    display: none
    max-width 300px
    border-radius: 30px
    &.hide
        opacity: 0
        transition: all 0.3s