.alert-wrapper
    position: fixed
    top: 70%
    left: 50%
    z-index: 999
    transform: translateX(-50%)
    overflow hidden
    white-space nowrap
    text-overflow: ellipsis
    text-align: center
    font-size: 14px
    color: #e2e2e2
    background-color: #cccccc
    padding: 7px 15px
    &.hide
        opacity: 0
        transition: all 0.3s