.search-history-wrapper
    .item
        display: flex
        align-items: center
        padding: 0 10px
        border-bottom: 1px solid #dddddd
        .iconfont
            color: #c5c4c4
        .text
            font-size: 14px
            color: #333333
            flex: 1
            margin-left: 10px
            padding: 10px 0