.play-list
    .item
        padding: 5px
        border-bottom: 1px solid #dddddd
        display: flex
        align-items: center
        .icon
            width: 20%
            padding-top: 20%
            min-width: 20%
            margin-right: 10px
            background-repeat: no-repeat
            background-size: cover
        .info
            font-size: 16px
            color: #333333
            line-height: 1.2
            overflow hidden
            .name
                color: #333333
                overflow hidden
                white-space nowrap
                text-overflow: ellipsis
            .other
                font-size: 12px
                margin-top: 8px
                color: #707070
                .nickname
                    margin-left: 5px