.thumbnail-list-wrapper
    .title
        font-size: 16px
        color: #333333
        padding: 15px 10px
        position relative
        &:before
            content: ''
            position: absolute
            left: 0
            top: 50%
            transform: translateY(-50%)
            border-left: 2px solid #c62f2f
            height: 15px
    .thumbnail-list
        display: flex
        flex-wrap: wrap
        .item:nth-child(3n + 1)
            margin-left: 0
        .item
            flex: 0 0 calc(100% / 3 - 2px)
            margin-left: 3px
            position relative
            .img
                padding-top: 100%
                background-size: cover
                background-position center center 
                margin-bottom: 5px
            .count
                position: absolute
                right: 5px
                top: 3px
                font-size: 12px
                color: #ffffff
                .icon-erji
                    font-size: 14px
            .name
                font-size: 14px
                color: #333333
                display: -webkit-box
                text-overflow: ellipsis
                overflow: hidden
                -webkit-line-clamp: 2
                line-height: normal
                padding: 0 5px
                margin-bottom: 10px