.progress-bar-wrapper
    position relative
    width: 100%
    background-color #e2e2e2
    height: 2px
    border-radius: 1px
    .percentage
        width: 0
        background-color: rgb(210, 59, 50)
        height 100%
    .point
        position: absolute
        top: 50%
        left 0
        width: 14px
        height: 14px
        border-radius: 50%
        background-color #ffffff
        &:after
            position: absolute
            content: ''
            width: 3px
            height 3px
            border-radius: 50%
            background-color: rgb(210, 59, 50)
            top: 50%
            left 50%
            transform translate(-50%, -50%)