.full-play-wrapper
    position: fixed
    top: 0
    left 0
    right 0
    bottom: 0
    z-index: 100
    background-color rgb(127, 127, 127)
    transition: all 0.6s
    transform: translateY(100px)
    opacity 0
    display: none
    &.active
        transform: translateY(0)
        opacity 1
        display: block !important 
    .bg
        background-repeat: no-repeat
        background-position: center
        background-size auto 100%
        // filter: blur(35px) // 移动端太卡去掉
        opacity 0.6
        position: absolute
        top: 0
        left 0
        right 0
        bottom: 0
        z-index: -1
    .play-header
        display: flex
        align-items: center
        height 50px
        position relative
        padding: 0 10px 0 15px
        color: #ffffff
        &:after
            content: ''
            position: absolute
            left 0
            right 0
            bottom: 0
            height 1px
            background: linear-gradient(90deg, rgba(220, 220, 220, 0), #ffffff, rgba(220, 220, 220, 0))
            transform: scaleY(0.2)
        .content
            flex: 1
            overflow hidden
            margin-left: 15px
            .name
                overflow hidden
                white-space nowrap
                text-overflow: ellipsis
            .artist-name
                font-size: 12px
                color: #e2e2e2
                margin-top: 5px
                line-height: 1.2
        .shape
            margin-left: 10px
            font-size: 20px
    .visible
        z-index: 5 !important
        opacity 1 !important
    .music-turn-wrapper
        position relative
        z-index: 1
        opacity 0
        transform: translateY(-100%)
        padding-top: 20%
        height calc(100vh - 148px - 50px - 20px)
        min-height: 321px
        box-sizing: border-box
        .music-turn-bg
            width: 70%
            height 0
            padding-top: 70%
            margin: 0 auto
            background: url(http://s3.music.126.net/m/s/img/disc.png?d3bdd1080a72129346aa0b4b4964b75f) no-repeat
            background-size contain
            position relative
            .music-turn
                position: absolute
                width: 61%
                height: 61%
                top: 0
                left 0
                right 0
                bottom: 0
                margin: auto
                border-radius: 50%
                animation: rotate 14s linear infinite
                &.stop
                    animation-play-state: paused;
        .dist
            background: url(http://s3.music.126.net/m/s/img/needle.png?702cf6d95f29e2e594f53a3caab50e12) no-repeat
            background-size contain
            position: absolute
            top: 0
            left 42%
            width: 30%
            height 0
            padding-top: 39%
            z-index 1
            transition: all 0.3s
            transform: rotate(-25deg)
            transform-origin: 15px 0
            &.active
                transform: rotate(0)
    .lyric-wrapper
        position relative
        z-index: 1
        opacity 0
        font-size: 14px
        color: #cecece
        text-align: center
        margin-top: 20px
        height calc(100vh - 148px - 50px - 20px - 20px)
        overflow hidden
        &:after
            content: ''
            position: absolute
            top: 0
            left 0
            right 0
            bottom: 0
            z-index: 10
        .placehoder
            height: calc((100vh - 148px - 50px - 20px) / 2)
        .lyric
            padding: 10px 25px
            line-height: 1.4
            word-break: break-all
            &.active
                color: #ffffff
                
    .control-wrapper
        position: absolute
        left 0
        right 0
        bottom: 0
        padding-bottom: 30px
        .other-control
            text-align: center
            justify-content: space-around
            display: flex
            padding: 0 50px
            color: #e6e6e6
            .iconfont
                font-size 19px
        .progressbar-wrapper
            display: flex
            padding: 0 20px
            margin-top: 25px
            color: #e2e2e2
            font-size: 12px
            align-items: center
            .progress
                flex: 1
                padding: 0 10px
        .play-control
            color: #e6e6e6
            display: flex
            align-items: center
            justify-content: space-around
            padding: 0 15px
            margin-top: 25px
            .iconfont
                font-size 19px
            .play-btn
                border: 1px solid #e6e6e6
                border-radius: 50%
                width: 35px
                height: 35px
                .iconfont
                    position relative
                    top: 8.5px
                    left 8px
                .paused
                    left 9.5px
        
@keyframes rotate
    from
        transform: rotate(0)
    to
        transform: rotate(360deg)
